<div class="form-contProduct">
<form class="addProductForm">
    <div>
        <label for="productName">Product Name:</label>
        <input type="text" class="productName" required>
    </div>
    <div>
        <label for="company">Company:</label>
        <input type="text" class="company" required>
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="number" class="price" required>
    </div>
    <div>
        <label for="description">Description:</label>
        <textarea class="description" required></textarea>
    </div>
    <div>
        <label for="color">Color:</label>
        <input type="text" class="color" required>
    </div>
    <div>
    <button type="submit">Add Product</button>
</div>
</form>
</div>

