  <div class="mainCont">
        <div class="container">
            <form class="form" action="https://google.com/">
                <ul class="formlist">
                    <h1 class="CrudApp">Contact Us!</h1>
                    <li class="field">
                        <label for="name" class="titleName">Name</label>
                        <input type="text" id="name" placeholder="Name" class="name form-control">
                    </li>
                    <li class="field">
                        <label for="email" class="titleName">Email</label>
                        <input type="email" id="email" placeholder="Email address" class="email form-control">
                    </li>
                    <li class="field">
                        <label for="message" class="titleName">Message</label>
                        <textarea id="message" class="message form-control" rows="2" placeholder="Message"></textarea>
                    </li>
                    <li class="field">
                        <button class="create btn btn-primary" type="submit">Submit</button>
                    </li>
                </ul>
            </form>
        </div>

        <div class="left">
            <div class="logcontact">
                <img class="logoCont" src="assets/whiteAll.png" alt="">
            </div>
            <h1 class="contactC">Message us</h1>
            <p class="para">
                Contact us for any queries related to the registration of your store or anything else, we are here!
            </p>
            
        </div>
    </div>
