<div class="main">
    <div class="container">
        <form class="form">
            <ul class="formlist">
                <h1 class="CrudApp">CRUD App</h1>
                <li class="field">
                    <label for="usr" class="titleName">Title</label>
                <input type="text" placeholder="Title" class="title form-control">
                </li>
                <li class="field">
                    <label for="usr" class="titleName">Descirption</label>
                    <textarea class="description form-control" rows="2" placeholder="Descirption"></textarea>
                </li>
                <li class="field">
                <button class="create btn btn-primary" type="submit">Submit</button>
                <button class="clear btn btn-primary" type="submit" style="display: none;">Clear</button>
                </li>
            </ul>
        </form>
        
    </div>

    <div class="cr"></div>
    <div class="stories"></div>

    
</div>
