<link rel="stylesheet" href="/css/storeslist.css">

    <header>
        <%- include('./partials/productNav') %>
    </header>

    <div class="storeInfo">
        <img class="logoImg" src="/assets/stores/almas.png" alt="">
        <div class="textInfo">
            <h2 class="storeName"></h2>
            <p class="storeDesc"></p>
        </div>
    </div>
    
    <hr>


    <div class="items">
   
    </div> 

