
    <header>
        <%- include('./partials/storeNav') %>
    </header>

    <div class="storeInfo">
        <img class="logoImg" src="/assets/stores/almas.png" alt="">
        <div class="textInfo">
            <h2 class="storeName">ALMAS</h2>
            <p class="storeDesc">
                Lorem ipsum dolor sit amet consectetur adipisicdus iste sunt, dolorum nesciunt blanditiis praesentium totam cupiditate alias
            </p>
        </div>
    </div>
    
    <hr>


    <div class="items">
   
    </div> 

