<form class="loginform" action="/user/login" method="post">
    <ul class="formlist">
        <h1 class="Logint">Login</h1>
        <p>Enter your credentials to login!</p>
        <li class="field">
            <label for="email" class="titleName">Email</label>
            <input type="email" required name="email" placeholder="Email address" class="email form-control">
        </li>
        <li class="field">
            <label for="password" class="titleName">Password</label>
            <input type="password" required name="password" placeholder="Password" class="password form-control">
        </li>
        <li class="field">
            <button class="create btn btn-primary" type="submit">Login</button>
        </li>
    </ul>
</form>
