<nav class="mynav navbar navbar-expand-lg em-1">
    <div class="container-fluid">
        <!-- Logo and Search bar -->
        <div class="d-flex flex-grow-1">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div>
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Add Store</button>
        </div>
        </div>
    </div>
</nav>
