<ul class="navbar topList">
    <li class="image">
        <img class="logo" src="assets/whiteAll.png" alt="">
    </li>
    <li class="nav-item"><a href="#home" class="nav-link items">Home</a></li>
    <li class="nav-item"><a href="#discover" class="nav-link items">Stores</a></li>
    <li class="nav-item"><a href="#register" class="nav-link items">Register</a></li>
    <li class="nav-item"><a href="#contact" class="nav-link items">Contact</a></li>
    <li class="nav-item"><a href="crud.html" class="nav-link items">CRUD</a></li>
</ul>
<div class="logcont ml-auto">
    <button class="login">
        <span class="logintext">Login</span>
    </button>
</div>
</div>