<nav class="mynav navbar navbar-expand-lg em-1">
    <div class="container-fluid">
        <!-- Logo and Search bar -->
        <div class="d-flex flex-grow-1">
            <h2 class="userName">Welcome, <%=user.name%>!</h2>
        </div>
        <div>
            <button class="addproduct btn btn-outline-light my-2 my-sm-0" type="submit">Add Product</button>
        </div>
        </div>
    </div>
</nav>
