<div class="contactdiv" id="contact">
    <div class="location">
        <h3 class="loc">Current Region/Language</h3>
        <p class="pakistan">Pakistan/English</p>
    </div> 
    <div class="contdiv2">
        <div class="bottom left">
            <h1 class="contact">Contact</h1>
            <p class="pakistan">Do you have any questions?</p>
            <button class="cont" id="cont">Contact Us</button>
        </div>
        <div class="bottom right">
            <h1 class="contact">Social Media</h1>
            <p class="pakistan">Follow us to keep the track</p>
            <button class="Social">
                <img class="soclog" src="assets/insta.png" alt="">
            </button>
            <button class="Social">
                <img class="soclog" src="assets/fb.png" alt="">
            </button>
            <button class="Social">
                <img class="soclog" src="assets/ln.png" alt="">
            </button>
            <button class="Social">
                <img class="soclog" src="assets/twitter.png" alt="">
            </button>
        </div>
    </div>
    <div class="highlight">
        <h1 class="More contact">More</h1>
        <div class="more1">
            <a href="" class="more">About</a>
            <a href="" class="more">Products</a>
            <a href="" class="more">Location</a>
            <a href="" class="more">Filter</a>
        </div>
        <div class="more2">
            <a href="" class="more">Men</a>
            <a href="" class="more">Women</a>
            <a href="" class="more">Sustainability</a>
        </div>
        <a href="" class="more">Record</a>
    </div>
    <div class="bottomlogo">
        <img class="logo" src="assets/blackAll.png" alt="">
    </div>
</div>