<div id="loginPopup" class="login-popup">
        <div class="loginMain">
            <div class="container row justify-content-center">
                <button class="cross">&times;</button>
                <form class="form">
                    <ul class="formlist">
                        <h1 class="Logint">Login</h1>
                        <p class="">Enter your credentials to login!</p>
                        <li class="field">
                            <label for="email" class="titleName">Email</label>
                            <input type="email" id="email" placeholder="Email address" class="email form-control">
                        </li>
                        <li class="field">
                            <label for="password" class="titleName">Password</label>
                            <input type="password" id="password" placeholder="Password" class="password form-control">
                        </li>
                        <li class="field">
                            <button class="create btn btn-primary" type="submit">Login</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
