<div class="store container">
    <img class="storeImg" src="/assets/stores/almas.png" alt="almasStore">
    <h3 class="storeName">Almas Store</h3>
    <p class="storeDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum non quam commodi.</p>
    <button class="btn my-2 my-sm-0 btn-search" type="button">Visit</button>
</div>